header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #3f51b5;
    /* Un color azulito típico de Angular */
    color: white;
}

header h1 {
    margin: 0;
    font-size: 1.5rem;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 1.5rem;
    font-weight: 500;
}

nav a:hover {
    text-decoration: underline;
}